<h3><%= gist.escape("title") %></h3>

<div class="favorite-buttons<%= gist.favoriteClass() %>">
  <button class="favorite-button">Favorite</button>
  <button class="unfavorite-button">Unfavorite</button>
</div>