<h3><%= gist.escape("title") %>

  <div class="favorite-buttons<%= gist.favoriteClass() %>">
    <button class="favorite-button">Favorite</button>
    <button class="unfavorite-button">Unfavorite</button>
  </div>

</h3>

<a class="new-gist-file">Add a new gist file</a>